# Bank - Attritionanalysis

#### Daten einlesen

In [ ]:
import os
import pandas as pd
import matplotlib.pyplot as plt

path = "data/"
dataframes = []
for csv_file in os.listdir(path):
    if csv_file.endswith(".csv"):
        dataframes.append(pd.read_csv(path + csv_file, sep="|"))

df = pd.concat(dataframes, ignore_index=True)

print(df.shape)

2025-02-20 12:59:20,928 - logger - INFO - (10006, 13)

#### Kontrolle des zusammengefügten DataFrames

- Summe aller Zeilen der csv-Dateien
- Spaltenanzahl (Features)
- Ausgabe der Features

In [18]:
path = "data/"
sum_rows = 0
for csv_file in os.listdir(path):
    df = pd.read_csv(path + csv_file, sep="|")
    sum_rows += int(df.shape[0])

print(f"Summe der Zeilen aller csv-Dateien: {sum_rows}\nAnzahl der Features (Spalten): {df.shape[1]}\n{df.columns.values}")

Summe der Zeilen aller csv-Dateien: 10006
Anzahl der Features (Spalten): 13
['num_kids' 'customer_id' 'credit_score' 'country' 'gender' 'age' 'tenure'
 'balance' 'products_number' 'credit_card' 'active_member'
 'estimated_salary' 'churn']

#### Erste Identifikation von Datenproblemen

,num_kids,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN