# Bank - Attritionanalysis

#### Daten einlesen

In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt

dataframes = []
for csv_file in os.listdir("data"):
    if csv_file.endswith(".csv"):
        dataframes.append(pd.read_csv("data/" + csv_file, sep="|"))

df = pd.concat(dataframes, ignore_index=True)

print(df.shape)
print(df.head)

(10006, 13)
<bound method NDFrame.head of       num_kids  customer_id  credit_score  country  gender  age  tenure  \
0            -     15613656           842   France    Male   58       1
1            -     15734311           661   France  Female   27       3
2            -     15657214           601   France    Male   74       2
3            -     15799350           632   France    Male   41       0
4            -     15729970           684  Germany    Male   29       8
...        ...          ...           ...      ...     ...  ...     ...
10001        -     15606229           771   France    Male   39       5
10002        -     15569892           516   France    Male   35      10
10003        -     15584532           709   France  Female   36       7
10004        -     15682355           772  Germany    Male   42       3
10005        -     15628319           792   France  Female   28       4

         balance  products_number  credit_card  active_member  \
0       63492.94                1          1.0              1
1           0.00                2          1.0              1
2           0.00                2          0.0              1
3      106134.46                1          0.0              1
4      127269.75                1          0.0              1
...          ...              ...          ...            ...
10001       0.00                2          1.0              0
10002   57369.61                1          1.0              1
10003       0.00                1          0.0              1
10004   75075.31                2          1.0              0
10005  130142.79                1          1.0              0

       estimated_salary  churn
0              83172.19      0
1              76889.79      0
2              51554.58      0
3             105570.39      0
4              79495.01      0
...                 ...    ...
10001          96270.64      0
10002         101699.77      0
10003          42085.58      1
10004          92888.52      1
10005          38190.78      0

[10006 rows x 13 columns]>